.premises-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 2em;
  column-gap: 2em;
  justify-content: center;
}

.add-button {
  text-decoration: none;
  color: #1db19f;
  border-radius: 8px;
  border: 2px solid;
  border-color: #1db19f;
  font-family: 'GeneralSans-Semibold';
  text-align: center;
  padding-top: 3px;
  font-size: 1.2rem;
}
