<div class="signup-page">
  <form class="signup-form" [formGroup]="form">
    <h1 class="heading">Create an account</h1>
    <fieldset class="credentials">
      <div class="text-input">
        <label for="email">Email</label>
        <input
          type="text"
          name="email"
          id="email"
          formControlName="email" />
      </div>
      <div class="text-input">
        <label for="password"
          >Password (at least 8 characters)</label
        >
        <input
          type="text"
          name="password"
          id="password"
          formControlName="password" />
      </div>
      <div class="text-input">
        <label for="repeat-password">Repeat password</label>
        <input
          type="text"
          name="repeatPassword"
          id="repeat-password"
          formControlName="repeatPassword" />
      </div>
      <div class="role-selector">
        <div class="role-option">
          <input
            type="radio"
            name="role"
            id="customer-selection" />
          <label for="customer-selection">As a customer</label>
        </div>
        <div class="role-option">
          <input
            type="radio"
            name="role"
            id="company-selection" />
          <label for="company-selection">As a cleaning company</label>
        </div>
      </div>
    </fieldset>
    <div class="actions">
      <div class="signup-action">
        <span></span>
        <div class="agree">
          <input type="checkbox" id="agree" />
          <label for="agree">
            <span>I agree with </span>
            <a href="/auth/signup">Terms & Policies</a>
          </label>
        </div>
        <a href="/" class="go-back">Go back</a>
        <button type="submit" class="signup-button">Sign up</button>
      </div>
      <div class="login-hint">
        <span>Already have an account?</span>
        <a href="/auth/login" class="login-link">Log in</a>
      </div>
    </div>
  </form>
  <card-design></card-design>
</div>
