<div class="base-card">
  <img class="base-card-image" src="https://picsum.photos/345/250" />
  <div class="base-card-body">
    <div class="row mb-1">
      <div class="col">
        <p><strong>Address:</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>{{ premise.address }}</p>
      </div>
    </div>
    <div class="row my-2">
      <div class="col">
        <hr />
      </div>
    </div>
    <div class="base-card-footer">
      <button (click)="handlePremiseEdit()" class="edit-button">
        <span>Edit</span>
        <img src="../../../../../assets/icons/pencil.svg" />
      </button>
      <button (click)="handleCreateRequest()" class="edit-button">
        <span>Create request</span>
        <img src="../../../../../assets/icons/pencil.svg" />
      </button>
    </div>
  </div>
</div>
