<form [formGroup]="premiseCreateForm" class="container">
  <div class="row">
    <div class="col">
      <div class="row mb-3">
        <h4>Edit your premise</h4>
        <hr class="my-3" />
      </div>
      <div class="row">
        <div class="col control">
          <label for="">Address</label><input formControlName="address" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="col control">
          <label>Description</label>
          <input formControlName="description" />
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-12 control">
          <label> Area (in m2)</label>
          <input formControlName="square" type="text" name="" id="" />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col button-group">
          <button class="go-bach-button" (click)="onClose()">Go back</button>
          <button class="save-button" (click)="onSave()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</form>
