<header>
  <a routerLink="/auth/login" class="login-button">Log In</a>
  <a routerLink="/auth/signup" class="signup-button">Sign Up</a>
</header>
<main>
  <div class="focus">
    <div class="titles">
      <h1 class="title">CleanProFinder</h1>
      <h2 class="subtitle">Clean life means clean mind</h2>
    </div>
    <img src="../../../../../assets/icons/blob.svg" alt="stuff" />
  </div>
  <div class="reviews">
    <img src="../../../../../assets/icons/circles.svg" alt="circles" />
    <div class="reviews-overview">
      <h3>Over 100+ happy customers!</h3>
      <div class="reviews-stats">
        <img src="../../../../../assets/icons/star.svg" alt="star" />
        <span>4.32 (107 reviews)</span>
      </div>
    </div>
  </div>
</main>
