<div class="container p-5">
  <div class="row mb-3">
    <div class="col">
      <h2>Select provider:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-provider-request-create
        [provider]="provider"
        (selected)="addProvider($event)"
        (unselected)="removeProvider($event)"
        *ngFor="let provider of providers"></app-provider-request-create>
    </div>
  </div>
  <div class="buttons">
    <button class="go-back" (click)="cancel()">Go back</button>
    <button class="submit-button" (click)="onSubmit()">Submit</button>
  </div>
</div>
