<div class="base-card">
  <img class="base-card-image" src="https://picsum.photos/345/250" />
  <div class="base-card-body">
    <div class="row mt-2">
      <p><strong>Name:</strong></p>
      <p>{{ service?.name }}</p>
    </div>
    <div class="row">
      <p><strong>Description: </strong></p>
      <p>{{ service?.description }}</p>
    </div>
    <div class="row my-3">
      <div class="col">
        <hr />
      </div>
    </div>
  </div>
  <div class="base-card-footer">
    <button class="like-btn" [disabled]="this.isSaved" (click)="onSaveProvider()">
      <img
        *ngIf="!isSaved"
        class="like-icon"
        src="../../../../../assets/icons/like.svg"
        alt="like" />
      <img
        *ngIf="isSaved"
        class="like-icon"
        src="../../../../../assets/icons/like-fill.svg"
        alt="like" />
    </button>
    <button class="see-more-button">
      <span>See more</span>
      <img src="../../../../../assets/icons/arrow-narrow-right.svg" />
    </button>
  </div>
</div>
