@import '../node_modules/bootstrap/scss/bootstrap';
@import './assets/fonts/chillax.css';
@import './assets/fonts/general-sans.css';

body {
  background-color: #b0f5eb;
  font-family: 'GeneralSans-Regular';
  min-height: 100vh;
}

.button-group {
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
  > * {
    flex-grow: 1;
    flex-basis: 50%;
  }
  font-family: 'GeneralSans-Regular';
  min-height: 100vh;
}

:root {
  --primary-light: #b0f5eb;
  --primary: #1db19f;
  --primary-dark: #0e786b;
  --black: #181818;
  --white: #ffffff;
}
