@import '../node_modules/bootstrap/scss/bootstrap';
@import './assets/fonts/chillax.css';
@import './assets/fonts/general-sans.css';

body {
  background-color: #b0f5eb;
}

.button-group {
  display: flex;
  flex-direction: row;
  column-gap: 0.25em;
  > * {
    flex-grow: 1;
  }
}
