<div class="request-list">
  <div class="request" *ngFor="let request of requests">
    <h3 class="address">{{ request.address }}</h3>
    <span>{{ request.square }} m²</span>
    <span [ngClass]="getStatusColor(request.status)"
      >Status: {{ status(request.status) }}</span
    >
    <div class="services">
      <span class="service" *ngFor="let service of request.services">
        {{ service.name }}
      </span>
    </div>
    <button class="submit-button" (click)="onEditRequest(request.id)">Edit</button>
  </div>
</div>
