<header [ngSwitch]="role">
  <ng-container *ngSwitchCase="'service-user'">
    <div class="row p-3 nav">
      <div class="col-7 link-container">
        <button
          class="nav-link"
          routerLink="premises"
          routerLinkActive="nav-link-active">
          Premises
        </button>
        <button
          class="nav-link"
          routerLink="services"
          routerLinkActive="nav-link-active">
          Services
        </button>
        <button
          class="nav-link"
          routerLink="my-requests"
          routerLinkActive="nav-link-active">
          Requests
        </button>
        <button
          class="nav-link"
          routerLink="saved-providers"
          routerLinkActive="nav-link-active">
          Saved providers
        </button>
      </div>
      <div class="col-5 header-actions">
        <button class="profile-button">
          <img src="../../../../../assets/icons/user.svg" />
          <span>Ivan</span>
          <span>Shramko</span>
        </button>
        <button (click)="logout()" class="profile-button">Logout</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'service-provider'">
    <div class="row p-3 nav">
      <div class="col-7 link-container" style="width: 100%;">
        <button
          class="nav-link"
          routerLink="my-services"
          routerLinkActive="nav-link-active">
          My services
        </button>
        <button
          class="nav-link"
          routerLink="active-requests"
          routerLinkActive="nav-link-active">
          Active requests
        </button>
        <div class="col-5 header-actions">
          <button class="profile-button">
            <img src="../../../../../assets/icons/user.svg" />
            <span>Ivan</span>
            <span>Shramko</span>
          </button>
          <button (click)="logout()" class="profile-button">Logout</button>
        </div>
      </div>
    </div>
  </ng-container>
</header>
